/* div ul li p{
    color: whitesmoke;
    background-color: #222;
} */

/* div > p{
    color: whitesmoke;
    background-color: #222;
} */

div + p{
    color: whitesmoke;
    background-color: #222;
}